<div class="bv-black-bg">
<div class="bv-black-bg m0 flex flex-column justify-center mx-auto">
  <div class="bv-flex-1 mx-auto mt2 p1">
    <div class="flex flex-column items-center lg-hide">
        <img class="p1" src="assets/img/padlock.svg" />
    </div>
    <h1 class="bv-text-white-color mt4 center">
      <img class="bv-img-scale mr2 xs-hide sm-hide md-hide" src="assets/img/padlock.svg" />
      <span>Your security matters to us!</span>
    </h1>
    <p class="bv-text-white-color mt2">
      We’re serious about security and use cutting-edge technology to ensure
      your personal information is fully encrypted and securely stored.
    </p>
  </div>
  <div class="p2">
    <span class="bv-text-white-color">© Copyright 2018</span>
  </div>
</div>
</div>
